.Content{
    max-height: 100%;
    max-width: 100%;
    /* display: flex;
    flex-direction: column; */
}
.ProductTitle{
    
    font-size: 40px;
    display:flex;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    /* margin-top: 70%; */
    margin-left: 55%;
    text-align: right;
 
} 

.ProductPrice{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin-left: 33.5%; 
}

.ProductImage {
    /* display: flex; */
    /* float: left !important;  */
    
    width: 400px;
    height: 400px;
    border: 1px solid #cecece;
    margin-left: 25% ;

}

.DescriptionTitle {
    /* transform: translateX(-71%); */
    margin-right: 25%;
    margin-top: 15%;
}

.ProductDescription {
    float: right;
}

.hi {
    margin-left: 32%;
}

